<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
>
<head th:replace="~{base :: html-head(~{::title})}">
    <title>ToDo - task list</title>
</head>
<body>
<nav th:replace="~{base :: navbar}"></nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Summary</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Start date</th>
        <th scope="col">Due date</th>
        <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
        <th scope="row" th:text="${task.id}"></th>
        <td th:text="${task.summary}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.status.displayName}"></td>
        <td th:text="${task.category}"></td>
        <td th:text="${#temporals.format(task.startDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${#temporals.format(task.dueDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td class="d-flex">
            <form class="m-1" id="editForm" name="editForm" th:action="@{/task/editForm}" method="post" onchange="submit()">
                <button style="background: transparent; border: none;">🖋️</button>
            </form>
            <form class="m-1" id="deleteForm" name="deleteForm" th:action="@{/task/delete/{taskId}(taskId=${task.id})}" method="post" onchange="submit()">
                <button style="background: transparent; border: none;">❌</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>
